@charset "utf-8";


// http://www.fontspring.com/blog/further-hardening-of-the-bulletproof-syntax
@font-face {
  font-family: 'Scala Sans SC';
  src: font-url('../fonts/scalasans-regularsc-webfont.eot');
  src: font-url('../fonts/scalasans-regularsc-webfont.eot?#iefix') format('embedded-opentype'),
       font-url('../fonts/scalasans-regularsc-webfont.woff') format('woff'),
       font-url('../fonts/scalasans-regularsc-webfont.ttf') format('truetype'),
       font-url('../fonts/scalasans-regularsc-webfont.svg#ScalaSansSCRegular') format('svg');
  font-style: normal;
  font-weight: normal;
  // Not currently supported by browsers it would seem.
  // font-variant: small-caps;
}

@font-face {
  font-family: 'Scala';
  src: font-url('../fonts/scala-webfont.eot');
  src: font-url('../fonts/scala-webfont.eot?#iefix') format('embedded-opentype'),
       font-url('../fonts/scala-webfont.woff') format('woff'),
       font-url('../fonts/scala-webfont.ttf') format('truetype'),
       font-url('../fonts/scala-webfont.svg#Scala') format('svg');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Scala';
  src: font-url('../fonts/scala-italic-webfont.eot');
  src: font-url('../fonts/scala-italic-webfont.eot?#iefix') format('embedded-opentype'),
       font-url('../fonts/scala-italic-webfont.woff') format('woff'),
       font-url('../fonts/scala-italic-webfont.ttf') format('truetype'),
       font-url('../fonts/scala-italic-webfont.svg#ScalaItalic') format('svg');
  font-style: italic;
  font-weight: normal;
}

@mixin breakpoint($width, $direction: min) {
  @media only screen and (#{$direction}-width: $width) {
    @content;
  }
}

@mixin clearfix {
  &:before, &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }

  .ie7 & {
    zoom: 1;
  }
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

a, a:visited {
  color: #58852c;
  text-decoration: none;
}

a:hover, a:focus {
  color: #4f9c02;
  text-decoration: underline;
}

a:active {
  color: #356901;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.readmill-logo-medium {
  display: block;
  width: 163px;
  height: 43px;
  text-indent: -900em;
  background: transparent url(../images/logo-readmill-medium.svg) no-repeat 0 0;
  background-size: 163px 43px;
}

.ie .readmill-logo-medium {
  background-image: url(../images/logo-readmill-medium.png);
}

// Page CSS
$text-on-black: #afafaf;

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust:none;
}

html {
  font-family: Scala,Georgia,Times,serif;
  font-variant: normal;
  text-transform: none;
}

header, section {
  line-height: 1.5;
  padding: 70px 20px;
  -webkit-font-smoothing: antialiased;

  @include breakpoint(500px) {
    padding: 70px 28px;
  }

  @include breakpoint(760px) {
    padding: 120px 100px;
  }

  @include breakpoint(1100px) {
    padding: 150px 150px;
    line-height: 1.7;
  }
}

.wrap {
  position: relative;
}

.content {
  @include breakpoint(760px) {
    max-width: 550px;
  }
}

h1 {
  font-size: 25px;
  margin-bottom: 10px;

  @include breakpoint(760px) {
    font-size: 32px;
  }

  &.bottom-margin-large {
    margin-bottom: 30px;

    @include breakpoint(760px) {
      margin-bottom: 60px;
    }
  }
}

h2 {
  font-size: 18px;
  margin-bottom: 10px;

  @include breakpoint(760px) {
    font-size: 20px;
  }
}

p {
  margin-bottom: 24px;
  color: #808080;

  &:last-child {
    margin-bottom: 0;
  }
}

a.btn, .btn {
  color: #ffffff;
  background-color: rgb(112, 179, 45);
  font-family: "Scala Sans SC",Helvetica,Arial,sans-serif;
  text-transform: lowercase;
  font-size-adjust: .453;
  font-size: 15px;
  line-height: 1.5;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 12px 20px 14px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  line-height: 1.25;
  text-align: center;
  margin: 0;
  border: 0;
  -webkit-font-smoothing: antialiased;
  display: inline-block;

  &:hover {
    text-decoration: none;
    color:#fff;
    background-color: #629f24;
  }
}

.no-wrap {
  white-space: nowrap;
}

img {
  max-width: 100%;
  height: auto;
}

.header {
  padding-top: 25px;
  padding-bottom: 0px;

  @include breakpoint(500px) {
    padding-top: 50px;
  }

  .readmill-logo-medium {
    width: 100px;
    height: 28px;
    background-size: 100px auto;
    float: left;
  }

  .nav{
    float: right;
    color: #808080;

    a {
      color: #808080;
    }

    .username {
      text-transform: capitalize;
    }
  }
}

.epilogue {
  p {
    color: #000;
  }
}

.next-steps {
  background: #f7f7f7;
  text-align: left;

  .btn {
    width: 100%;

    @include breakpoint(500px) {
      width: inherit;
    }
  }

  ul {
    border-top: 1px solid #e5e5e5;
    width: 100%;
    padding-top: 30px;
    margin-top: 50px;
    padding-left: 40px;
    position: relative;

    &:before {
      content: "how it works";
      font-family: "Scala Sans SC",Helvetica,Arial,sans-serif;
      color: #808080;
      font-size: 15px;
      position: absolute;
      top: -14px;
      left: 0;
      background: #f7f7f7;
      padding-right: 10px;
    }

    li {
      margin-bottom: 25px;

      @include breakpoint(600px) {
        margin-bottom: 15px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  img {
    height: auto;
    margin-bottom: 5px;
    margin-left: -35px;
    margin-top: 5px;
    float: left;
  }

  .book img {
    width: 15px;
    margin-left: -32px;
  }

  .dropbox img {
    width: 22px;
  }

  .adobe img {
    width: 22px;
  }
  .app img {
    width: 15px;
    margin-left: -32px;
  }
}

.export {
  background: #f7f7f7;
  text-align: left;
  border-bottom: 1px solid rgb(229, 229, 229);
  padding-bottom: 0;
  overflow: visible;

  @include breakpoint(500px) {
    text-align: center;
  }

  .content {
    max-width: 600px;
    margin: 0 auto;
  }

  .btn {
    width: 100%;

    @include breakpoint(500px) {
      width: inherit;
    }
  }

  .hero-image {
    max-width: 1134px;
    background-image:url(../images/footer-hero-image.png);
    background-repeat: no-repeat;
    background-position: 50% 100%;
    padding-top: 36%;
    background-size: contain;
    margin: 40px auto 0;

    // .ie & {
    //   filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='offboarding/footer-hero-image.png', sizingMethod='scale');
    //   -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader( src='offboarding/footer-hero-image.png', sizingMethod='scale')";
    // }

    @include breakpoint(500px) {
      margin-top: 70px;
      background-image:url(../images/footer-hero-image@2x.png);
    }

    @include breakpoint(1430px) {
      height: 406px;
      padding-top: 0px;
      margin-top: 120px;
    }
  }
}

.faq {
  background: #f7f7f7;

  p {
    margin-bottom: 30px;

    @include breakpoint(500px) {
      margin-bottom: 60px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.history,
.numbers,
.books,
.staff,
.acknowledge {
  color: $text-on-black;

  h1 {
    color: #fff;
  }

  p, ul  {
    color: $text-on-black;
  }
}

.history {
  @include clearfix;
  background: rgb(5,5,5);
  text-align: center;

  .content {
    max-width: 500px;
    margin: 0 auto;
  }

  h4 {
    font-family: "Scala Sans SC",Helvetica,Arial,sans-serif;
    font-size: 15px;
    color: #fff;
    text-transform: lowercase;
    margin-bottom: 10px;

    @include breakpoint(500px) {
      font-size: 20px;
      margin-bottom: 10px;
    }
  }

  p {
    font-style: italic;
    font-size: 14px;

    @include breakpoint(500px) {
      font-size: 16px;
    }
  }
}

.numbers {
  background: #101010;
  position: relative;
  @include clearfix;

  .content {
    @include breakpoint(1030px) {
      position: absolute;
    }
  }

  .number-block {
    margin-top: 40px;

    @include breakpoint(500px) {
      float: left;
      width: 50%;
    }

    h3 {
      font-size:50px;
      color:#fff;
      margin-bottom: 0;

      @include breakpoint(760px) {
        // font-size: 60px;
      }

      @include breakpoint(1100px) {
        font-size: 80px;
      }
    }

    p {
      font-size: 14px;

      @include breakpoint(1100px) {
        font-size: 16px;
      }
    }
  }
}

.books {
  background: #171717;

    @include breakpoint(500px) {
      padding-right: 60px;
    }

    @include breakpoint(1200px) {
      padding-right: 60px;
    }

  .book {
    width: 46%;
    font-size: 14px;
    color: #fff;
    margin-top: 40px;
    display: inline-block;
    white-space: nowrap;
    color: $text-on-black;

    .ie & {
      padding-left: 0px;
      margin-right: 37px;
      width: 120px;
    }

    @include breakpoint(500px) {
      padding-left: 0px;
      margin-right: 20px;
      width: 120px;
    }

    @include breakpoint(1200px) {
      margin-right: 60px;
      margin-top: 60px;
    }

    &:nth-child(odd) {
      padding-right: 10px;

      @include breakpoint(500px) {
        padding-right: 0;
      }
    }

    &:nth-child(even) {
      padding-left: 10px;

      @include breakpoint(500px) {
        padding-left: 0;
      }
    }

    .wrap {
      white-space: normal;
    }

    img {
      width: 100%;
      display: inline;
      font-size: 0;
      margin-bottom: 7px;

      .ie & {
        width: 100px;
      }

      @include breakpoint(500px) {
        width: 100px;
      }
    }

    .title {
      color: #fff;
      display:block;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .author {
      display: block;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.staff {
  background: #1c1c1c;

  .ie & {
    padding-right: 60px;
  }

  @include breakpoint(500px) {
    padding-right: 60px;
  }

  @include breakpoint(1200px) {
    padding-right: 80px;
  }

  .employee {
    float: left;
    width: 46%;
    font-size: 14px;
    margin-top: 40px;

    .ie & {
      padding-left: 0px;
      margin-right: 40px;
      width: 120px;
    }

    @include breakpoint(500px) {
      padding-left: 0px;
      margin-right: 20px;
      width: 120px;
    }

    @include breakpoint(1200px) {
      margin-right: 60px;
      margin-top: 60px;
    }

    &:nth-child(even) {
      padding-right: 10px;

      @include breakpoint(500px) {
        padding-right: 0;
      }
    }

    &:nth-child(odd) {
      padding-left: 10px;

      @include breakpoint(500px) {
        padding-left: 0;
      }
    }

    img {
      width: 100%;
      margin-bottom: 15px;

      .ie & {
        width: 100px;
      }

      @include breakpoint(500px) {
        width: 100px;
      }
    }

    .name {
      display: block;
      color:#fff;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.acknowledge {
  background: #212121;

  ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    font-size: 14px;
    margin-top: 40px;

    @include breakpoint(330px) {
      columns: 3;
      -webkit-columns: 3;
      -moz-columns: 3;
    }

    @include breakpoint(700px) {
      columns: 4;
      -webkit-columns: 4;
      -moz-columns: 4;
    }

    @include breakpoint(1000px) {
      columns: 5;
      -webkit-columns: 5;
      -moz-columns: 5;
    }

    @include breakpoint(1260px) {
      columns: 6;
      -webkit-columns: 6;
      -moz-columns: 6;
    }
  }

  p, ul {
    color: $text-on-black;
  }
}

.chart {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  opacity: 0;
  visibility: hidden;
  height: 0;
  width: 0;

  @include breakpoint(1030px) {
    display: block;
    opacity: 1;
    visibility: visible;
    width: auto;
    height: auto;
  }
}

.chart-img {
  display: block;
  margin-top: 15px;
  @include clearfix;

  @include breakpoint(1030px) {
    display: none;
  }

  .date {
    font-family: "Scala Sans SC",Helvetica,Arial,sans-serif !important;
    text-transform: lowercase;
    font-size: 15px;
    color:#404040;

    &.left {
      float: left;
    }

    &.right {
      float: right;
    }
  }
}

div.bar {
  display: inline-block;
  width: 2px;
  height: 75px;
  background-color: $text-on-black;
  margin-right:1px;
}

.axis text {
  font-family: sans-serif;
  font-size: 15px;
  color: $text-on-black;
}

.axis path, .axis line {
  display: none;
}

text {
  font-family: "Scala Sans SC",Helvetica,Arial,sans-serif !important;
  text-transform: lowercase;
}

body > section.numbers > div > div.chart > svg > g.x.axis > g:nth-child(1) {
  text-anchor: initial !important;

  text {
    text-anchor: inherit !important
  }
}

body > section.numbers > div > div.chart > svg > g.x.axis > g:nth-child(3) {
  text-anchor: end !important;

  text {
    text-anchor: inherit !important
  }
}

circle {
  display: none;
}

.milestone.large-cir, .milestone.small-cir {
  display: block;
  fill: white;
  cursor: pointer;
}

.milestone-label {
  position: absolute;
  font-size: 16px;
  color: #000;
  opacity: 0;
  z-index: 1;
  margin-top: -20px;
  width: 280px;
  padding: 30px 20px;
  background: #fff;
  margin-top: 10px;
  transition-duration: 185ms;
  transition-property: opacity, margin;
  transition-delay: 150ms;

  text-align: center;

  span {
    display: block;
  }

  .date {
    color: black;
    font-family: "Scala Sans SC",Helvetica,Arial,sans-serif;
    text-transform: lowercase;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom:5px;
    margin-bottom: 15px;
    display: inline-block;
  }

  .title {
    color: black;
    font-size: 16px;
    margin-bottom: 5px;
    line-height: 1.5;
  }

  .desc {
    color: gray;
    font-size: 14px;
  }
}

.milestone-label.show {
  margin-top: 0px;
  opacity: 1;
  transition-delay: 200ms;
}

.milestone-label:after {
  content: ' ';
  width: 0;
  height: 0;
  border-left: 10px solid transparent; /* arrow size is border left + border right */
  border-right: 10px solid transparent;
  position: absolute;
  bottom: -10px;
  left: 155px; /* width of tooltip - half arrow size */
  border-top: 10px solid #fff;
}

// FOOTER
footer.page-footer {
  @include clearfix;
  padding: 30px 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  -webkit-font-smoothing: antialiased;

  @include breakpoint(960px) {
    padding-left: 100px;
    padding-right: 100px;
  }

  @include breakpoint(1100px) {
    padding-left:150px;
    padding-right: 150px;
  }

  nav {
    width: 70%;
  }

  .column {
    padding-left: 0;

    @include breakpoint(500px) {
      padding-left: 20px;
    }
  }

  .social {
    margin-right: 0;
  }

  .social span {
    color: #000;
  }

  .copyright-wrapper {
    padding-bottom: 0px;
  }
}

// Pull the left and right edges of the footer out to align them with the
// edge of the page when wider than the desktop.
@include breakpoint(980px) {
  .page-footer .column {
    float: none;
    width: auto;
    margin-left: -20px;
    margin-right: -20px;
  }

  // Don't pull edges out for minimal layout
  .minimal-layout .page-footer .column {
    float: left;
    width: 100%;
    margin: 0;
  }
}

.page-footer nav {
  @include clearfix;
  font-size: 14px;
  line-height: 1.5;
  columns: 1;
  -webkit-columns: 1;
  -moz-columns: 1;
}

.responsive-layout .page-footer nav ul {
  @include breakpoint(500px) {
    columns: 4;
    -webkit-columns: 4;
    -moz-columns: 4;
  }

  @include breakpoint(780px) {
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
  }
}

// Mixin for properties for the full screen footer.
@mixin footer-floats() {
  float: left;
}

.page-footer nav li {
  clear: none;
  float: none;

  @include breakpoint(500px) {
    float: left;
    margin-right: 20px;
  }

  a, a:visited {
    color: #3f3f3f;
    color: rgba(0, 0, 0, 0.75);
  }
}


.page-footer .copyright-wrapper {
  font-size: 12px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.5);
  padding: 10px 0;

  .copyright {
    margin-bottom: 0px;
  }

  .tagline {
    display: block;
  }

  .pre-responsive-layout & {
    .copyright, .tagline {
      display: inline;
    }
  }

  @include breakpoint(500px) {
    font-size: 12px;
    line-height: 1.5;

    .tagline {
      display: inline;
    }

    li {
      margin-right: 15px;
    }
  }

  @include breakpoint(780px) {
    .copyright {
      display: inline;
    }
  }
}
